<div class="main-bundle">
{% if section.settings.product %}
{% render 'bundle-creator', product: section.settings.product  %}
<button class="bundleBtn" aria-label="create bundle">create bundle</button>
{% else %}
<h3>
    Select a product
</h3>
{% endif %}
</div>
{% schema %}
{
    "name": "Bundle",
    "settings": [
        {
            "type": "header",
            "content": "Select a product"
        },
        {
            "type": "product",
            "id": "product",
            "label": "Select a product"
        }
    ],
    "presets": [
        {
            "name": "Bundle"
        }
    ]
}
{% endschema %}