<div class="cart-button">
    <button data-mini-open-cart>Open Cart</button>
</div>
{% schema %}
{
    "name": "Mini Cart",
    "settings": [],
    "presets": [
        {
            "name": "Mini Cart"
        }
    ]
}
{% endschema %}